.container {
    padding: 0;
}

.row {
    margin: 0;
}

.prod-item {
    width: 95%;
    padding: 6px;
    min-height: 100px;
    margin: 10px auto;
    background-color: white;
    border: groove;
    border-width: 1px;
    border-radius: 8px;
}

    .prod-item div {
        padding: 2px;
    }

.prod-item-left {
    text-align: center;
}

.prod-item-middle {
    text-align: left;
}

.prod-item-right {
    text-align: right;
}

.cart-prod-img img {
    height: 72px;
    width: 72px;
    border-radius: 10%;
    margin: 4px;
}

.prod-name {
    padding: 4px;
    font-weight: bold;
}

.prod-desc {
    padding: 4px;
    font-size: 12px;
    color: grey;
}

.prod-price {
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
}

.prod-qty {
    color: black;
    font-size: 12px;
}

.panel {
    margin: 4px;
}

.order-memo {
    margin: 4px;
}

.wx-user-addr-info {
    display: none;
}

.customize-addr-info {
    display: none;
}

hr {
    border-color: white;
}

.sub-total {
    text-align: center;
}

.sub-total-price {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.pay-button {
    margin: 10px auto;
}

.btn-wxpay {
    background-color: #00CD00 !important;
    color: white !important;
}

.btn-alipay {
    background-color: rgb(0,160,233) !important;
    color: white !important;
}

    .btn-alipay img {
        width: 24px;
        height: 24px;
    }

.sub-price {
    font-size: 10px;
    padding: 6px;
    margin: 4px;
    background-color: white;
    border: dotted;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
}

    .sub-price input[type=number] {
        display: inline;
        width: 50px;
        height: 20px;
        text-align: center;
        padding: 0;
    }

    .sub-price input[type=checkbox] {
        position: static;
        vertical-align: text-bottom;
    }


    .sub-price div {
        margin: 6px;
    }

.md-content {
    max-width: 60%;
}
