html {
    background-color: #EDEDED;
}

body {
    background-color: #EDEDED;
    padding-bottom: 60px;
}

a:link {
    color: orange;
    TEXT-DECORATION: none;
}

a:visited {
    COLOR: orange;
    TEXT-DECORATION: none;
}

a:hover {
    COLOR: red;
    text-decoration: none;
}

a:active {
    COLOR: #ff7f24;
    text-decoration: none;
}

ol, ul {
    list-style: none;
    padding: 0;
}

hr {
    margin: 5px;
}

.qrcode {
    display: none;
    position: fixed;
    width: 60%;
    left: 20%;
    top: 20%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #9C9C9C;
    text-align: center;
}

    .qrcode img {
        width: 100%;
    }
