html, body{
    background:white;
}

.fruit-list img{
    max-width:100%;
}

.fruit-list div{
    padding:2px;
}

.input-group, .form-control {
    float: left;
    font-size: medium;
    text-align: center;
    width: 120px;
}

    .input-group span {
        cursor: pointer;
        font-size: large;
    }

.top-selling-week-prod {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 4px;
    font-size: 9px;
    border-radius: 4px;
}

.sell-out {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: orange;
    color: white;
    padding: 4px;
    font-size: 9px;
    border-radius: 4px;
}

.prod-info {
    font-size:10px;
    color: orange;
    text-align: left;
}