.fruit-list img{
    max-width:100%;
}

.fruit-list div{
    padding:4px;
}

.input-group, .form-control {
    float: left;
    font-size: medium;
    text-align: center;
    width: 120px;
}

    .input-group span {
        cursor: pointer;
        font-size: large;
    }