.user-portrait {
    width: 64px;
    height: 64px;
}

.list-group {
    display: none;
}

.group-price {
    color: red;
}

.launch-date {
    float: right;
    position: absolute;
    top: 2px;
    right: 10px;
}

.event-status {
    float: right;
    position: absolute;
    top: 20px;
    right: 10px;
}

.view-po-related {
    float: right;
    position: absolute;
    top: 40px;
    right: 10px;
}
