.form-group{
    padding: 4px;
}

input[type=checkbox] {
    cursor:pointer;
}

.panel-footer{
    color:red;
}

.purchase-price{
    font-size:14px;
    color:darkorange;
}

.purchase-unit{
    font-size:10px;
    color:darkgrey;
}

.purchase-qty{
    font-size:10px;
    font-style:italic;
    color:blue;
}

.order-price{
    font-size:large;
    color:red;
}

.freight{
    font-size:small;
    color:orange;
}

.fa-wechat{
    color:#00CD00;
}

.fa-money{
    color:red;
}

