html, body {
    padding-top: 25px;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.col-xs-12 {
    padding: 0;
}

ul {
    margin: 10px 5px;
}

.order-item {
    min-height: 100px;
    margin: 8px 8px 0;
    padding: 8px;
    position: relative;
    background-color: white;
    border: groove;
    border-width: 1px;
    border-radius: 8px;
}

    .order-item ul {
        list-style: none;
        padding: 0;
    }

.order-state {
    font-size: 12px;
    color: lightgrey;
}

    .order-state .done {
        color: green;
    }

    .order-state .doing {
        color: grey;
    }

.order-id {
    font-size: 12px;
    color: lightgrey;
}

img.prod-img {
    width: 40px;
    height: 30px;
    vertical-align: middle;
}

.order-product-name {
    font-size: 12px;
}

.purchase-price {
    font-size: 12px;
    color: orange;
}

.purchase-unit {
    font-size: 12px;
    color: darkgrey;
}

.purchase-qty {
    font-size: 12px;
    font-style: italic;
    color: lightgrey;
}

.order-date {
    float: right;
    font-size: 12px;
    color: lightgrey;
    margin: 2px;
}

.deliver-date {
    text-align: left;
    font-size: 12px;
    color: cornflowerblue;
    width: 100%;
}

.order-price-freight {
    text-align: right;
}

.freight {
    font-size: smaller;
    color: orange;
}

.order-total {
    text-align: right;
    font-size: 12px;
}

.order-price {
    font-size: x-large;
    color: red;
}

.btn-pay {
    text-align: right;
}

.btn-wxpay {
    background-color: #00CD00 !important;
    color: white !important;
    overflow: visible !important;
}

.btn-alipay {
    background-color: rgb(0,160,233) !important;
    color: white !important;
    overflow: visible !important;
}

    .btn-alipay img {
        width: 16px;
        height: 16px;
    }

.pay-success {
    color: green;
}

.not-pay {
    color: orange;
}

.cancel-order {
    background-color: lightgrey;
    color: white;
    font-weight:normal;
}

.form-control, #btnSearch {
    margin: 8px 0;
}

.navbar-text {
    margin-left: 4px;
    font-size: 11px;
}

    .navbar-text span {
        color: orange;
    }

.group-purchase-label {
    font-weight: normal;
}