html, body {
    padding-top: 25px;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.col-xs-12 {
    padding: 0;
}

ul{
    margin: 10px 5px;
}

.order-item {
    min-height: 100px;
    margin: 8px 8px 0;
    padding: 8px;
    position: relative;
    background-color:white;
    border:groove;
    border-width:1px;
    border-radius: 8px;
}

.order-state {
    font-size: 12px;
    color: lightgrey;
}

    .order-state .done {
        color: green;
    }

    .order-state .doing {
        color: grey;
    }

.order-id{
    font-size:12px;
    color:lightgrey;
}

img.prod-img{
    width:40px;
    height:30px;
    vertical-align:middle;
}

.order-product-name{
    font-size:16px;
}

.purchase-price{
    font-size:14px;
    color:orange;
}

.purchase-unit{
    font-size:12px;
    color:darkgrey;
}

.purchase-qty{
    font-size:12px;
    font-style:italic;
    color:lightgrey;
}

.order-date {
    float: right;
    font-size: 12px;
    color: lightgrey;
    margin: 2px;
}

.deliver-date{
    text-align:left;
    font-size:12px;
    color:cornflowerblue;
    width:100%;
}

div.order-price-freight{
    text-align:right;
}

span.freight{
    text-align:left;
    font-size:smaller;
    color:orange;
}

span.order-total{
    text-align:right;
    font-size: 12px;
}


span.order-price{
    font-size:x-large;
    color:red;
}

.btn-wxpay{
    background-color:#00CD00 !important;
    color:white !important;
    margin-left:10px;
    overflow:visible !important;
}

.pay-success{
    color:green;
}

.not-pay{
    color:orange;
}

.btn-cancel{
    background-color:green;
    color:white !important;
    padding:3px;
    border-radius:4px;
}

.form-control, #btnSearch{
    margin:8px 0;
}

.navbar-text{
    margin-left:4px;
    font-size:11px;
}

.navbar-text span{
    color:orange;
}
