@page {
    size: auto portrait;
    margin: 0;
}

@media print, screen {
    .print-po {
        page-break-before: always;
        margin: 0;
    }

    .print-po, table {
        font-size: smaller;
        color: black;
    }

        .print-po p {
            line-height: normal;
        }

    .order-price {
        text-align: right;
        font-size: larger;
        font-weight: 700;
    }

    .qr-code {
        width: 129px;
        height: 129px;
    }
}
