html, body {
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.header {
    background-color: #f8f8f8;
    min-height: 100px;
    padding: 20px;
}

.user-portrait {
    text-align: right;
}

    .user-portrait img {
        width: 64px;
        height: 64px;
        vertical-align: middle;
        border-radius: 50%;
    }

.user-info {
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

.nick-name {
    font-size: 16px;
    font-weight: 600;
}

.my-points {
    font-size: 10px;
}

.col-xs-6 {
    padding: 2px;
}

.btn-block {
    margin: 15px 0;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.btn-wx-qrcode {
    color: white;
    background-color: #00CD00;
}

.wx-card {
    width: 20px;
    height: 20px;
}

.member-points {
    color: red;
}

.member-points-exchage-rate {
    color: blue;
}

.md-content .member-points-rule {
    background-color: #d9534f;
    padding: 4px;
}

.md-content .group-purchase-rule {
    background-color: #f0ad4e;
    padding: 4px;
}
