<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="DEBUG" value="1"/>
    <add key="TestToken" value="MAHUI13770696350"/>
    <add key="SiteTitle" value="FruitU"/>
    <add key="SSLCertPath" value="cert/apiclient_cert.p12"/>
    <add key="PayNotifyUrl" value="http://mahui.me/PayResultHandler.ashx"/>
    <add key="WeChatOrderExpire" value="120"/>
    <add key="WeChatAPITimeout" value="6"/>
    <add key="LogLevel" value="3"/>
    <add key="ImgPath" value="images/"/>
    <add key="ProductListPageSize" value="10"/>
    <add key="OrderListPageSize" value="10"/>
    <add key="AllowedUploadFileExt" value=".jpg|.gif|.png"/>
    <add key="DefaultImg" value="FruitU.jpg"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages buffer="true" enableViewStateMac="true" validateRequest="true">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <machineKey validation="3DES" validationKey="319B474B1D2B7A87C996B280450BB36506A95AEDF9B51211" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A87" decryption="3DES"/>
  </system.web>
  <system.web>
    <customErrors mode="Off"/>
    <trace
   enabled="true"
   localOnly="false"
   pageOutput="false"
   requestLimit="10"
   mostRecent="false"
   writeToDiagnosticsTrace="false"
   traceMode="SortByTime"
/>
  </system.web>
  <connectionStrings>
    <add connectionString="Server=qds208406424.my3w.com;Database=qds208406424_db;User ID=qds208406424;Password=Password6;MultipleActiveResultSets=True" name="FruitU" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>