<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Default">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="logs/rolling.log" formatter="Text Formatter" rollInterval="Day" traceOutputOptions="LogicalOperationStack, DateTime, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Default">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="FruitU" />
  <connectionStrings>
    <add name="FruitU" connectionString="Server=qds208406424.my3w.com;Database=qds208406424_db;User ID=qds208406424;Password=Password4;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TestToken" value="MAHUI13770696350" />
    <add key="SiteTitle" value="Fruit U" />
    <add key="SiteDesc" value="鲜榨果汁|水果切片|下单即做|配送上门" />
    <add key="SiteKeywords" value="fruit,slice,juice,水果,果汁,切片" />
    <add key="SiteIcon" value="images/FruitU.ico" />
    <add key="SiteCopyrights" value="Fruit U" />
    <!--微信支付数字证书-->
    <add key="SSLCertPath" value="cert/apiclient_cert.p12" />
    <!--微信支付异步通知接口-->
    <add key="PayNotifyUrl" value="http://mahui.me/PayResultHandler.ashx" />
    <!--微信支付订单有效时间（分钟）-->
    <add key="WeChatOrderExpire" value="120" />
    <!--微信支付接口超时时间（秒）-->
    <add key="WeChatAPITimeout" value="6" />
    <add key="LogLevel" value="3" />
    <!--图片文件路径-->
    <add key="ImgPath" value="images/" />
    <!--商品分页每页条数-->
    <add key="ProductListPageSize" value="10" />
    <!--订单分页每页条数-->
    <add key="OrderListPageSize" value="10" />
    <!--用户分页每页条数-->
    <add key="UserListPageSize" value="10" />
    <!--允许上传文件类型-->
    <add key="AllowedUploadFileExt" value=".jpg|.gif|.png" />
    <!--商品默认图片-->
    <add key="DefaultImg" value="FruitU.jpg" />
    <!--会员积分兑换比率（积分:1元）-->
    <add key="MemberPointsExchangeRate" value="20" />
    <!--运费标准（元）-->
    <add key="Freight" value="10" />
    <!--包邮条件（元）-->
    <add key="FreightFreeCondition" value="99" />
    <!--微信模板消息接收人OpenID  Mehmet, 鲍书晨，袁欣辰  -->
    <add key="WxTmplMsgReceiver" value="o5gbrsixFkd1G6eszfG5mN-WbMeE|o5gbrsi8S5pKF-2kmOR1gU2x9OCY|o5gbrsi8cg9pnfjIPab8pZEnkmZ4|o5gbrsgPoTqQv2M2tvMJBUxHnafg|o5gbrsuc2uTKv2ayJUnAvWFO6ESI|o5gbrsuQWxiaU715D4Q98Bba8wVs" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <pages buffer="true" enableViewStateMac="true" validateRequest="true">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <machineKey decryption="3DES" decryptionKey="AutoGenerate,IsolateApps" validation="3DES" validationKey="AutoGenerate,IsolateApps" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="login.aspx" defaultUrl="~/admin/ManageOrder.aspx">
        <credentials passwordFormat="Clear">
          <!--Mehmet QQ openid-->
          <user name="0065B13A1E75740D1B048850D9A3E31D" password="0065B13A1E75740D1B048850D9A3E31D" />
          <!--袁欣辰 QQ openid-->
          <user name="9FCE78619147192BF466882125E994D0" password="9FCE78619147192BF466882125E994D0" />
          <!--鲍书晨 QQ openid-->
          <user name="7C54FD4116651C002607D59ECD6B73A3" password="7C54FD4116651C002607D59ECD6B73A3" />
          <!--高活未 QQ openid-->
          <user name="2EC118331818D8FCCAC87905115049C5" password="2EC118331818D8FCCAC87905115049C5" />
          <!--米其林 QQ openid-->
          <user name="82FDE58B03C6B84E557D14FBFDD731A9" password="82FDE58B03C6B84E557D14FBFDD731A9" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <membership defaultProvider="FruitUMembershipProvider">
      <providers>
        <add name="FruitUMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="FruitU" applicationName="FruitU" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" passwordCompatMode="Framework40" />
      </providers>
    </membership>
    <roleManager defaultProvider="FruitURoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="FruitURoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="FruitU" applicationName="FruitU" />
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly" />
    <trace enabled="true" localOnly="false" pageOutput="false" requestLimit="10" mostRecent="false" writeToDiagnosticsTrace="false" traceMode="SortByTime" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>