<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Default">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="logs/rolling.log" formatter="Text Formatter" rollInterval="Day" traceOutputOptions="LogicalOperationStack, DateTime, ProcessId, ThreadId, Callstack"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Default">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="FruitU"/>
  <connectionStrings>
    <add name="FruitU" connectionString="Server=qds208406424.my3w.com;Database=qds208406424_db;User ID=qds208406424;Password=Password4;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TestToken" value="MAHUI13770696350" />
    <add key="SiteTitle" value="Fruit U" />
    <add key="SiteDesc" value="鲜榨果汁|水果切片|水果礼盒|下单即做|配送上门" />
    <add key="SiteKeywords" value="fruit,slice,juice,gift,水果,果汁,切片,礼盒" />
    <add key="SiteIcon" value="images/FruitU.ico" />
    <add key="SiteCopyrights" value="Fruit U" />
    <add key="SSLCertPath" value="cert/apiclient_cert.p12" />
    <add key="PayNotifyUrl" value="http://mahui.me/PayResultHandler.ashx" />
    <add key="WeChatOrderExpire" value="120" />
    <add key="WeChatAPITimeout" value="6" />
    <add key="WxTmplMsgReceiver" value="o5gbrsixFkd1G6eszfG5mN-WbMeE|o5gbrsi8S5pKF-2kmOR1gU2x9OCY|o5gbrsi8cg9pnfjIPab8pZEnkmZ4|o5gbrsgPoTqQv2M2tvMJBUxHnafg|o5gbrsuc2uTKv2ayJUnAvWFO6ESI|o5gbrsuQWxiaU715D4Q98Bba8wVs" />
    <add key="AlipayAPPID" value="2016052701448666" />
    <add key="Partner" value="2088221964065182" />
    <add key="PrivateKey" value="http://mahui.me/key/rsa_private_key.pem" />
    <add key="AlipayPublicKey" value="http://mahui.me/key/alipay_public_key.pem" />
    <add key="AlipayNotifyUrl" value="http://mahui.me/alipay_notify.ashx" />
    <add key="AlipayReturnUrl" value="http://mahui.me/alipay_return.aspx" />
    <add key="LogLevel" value="3" />
    <add key="ImgPath" value="images/" />
    <add key="ProductListPageSize" value="10" />
    <add key="OrderListPageSize" value="10" />
    <add key="UserListPageSize" value="10" />
    <add key="AllowedUploadFileExt" value=".jpg|.gif|.png" />
    <add key="DefaultImg" value="FruitU.jpg" />
    <add key="MemberPointsExchangeRate" value="20" />
    <add key="Freight" value="10" />
    <add key="FreightFreeCondition" value="99" />
    <add key="DaDaCallback" value="http://mahui.me/DaDaCallback.ashx" />
    <add key="ShanSongCallback" value="http://mahui.me/ShanSongCallback.ashx" />
    <add key="DeliveryName" value="小U" />
    <add key="DeliveryPhone" value="13585702012" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages buffer="true" enableViewStateMac="true" validateRequest="true">
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms"
          assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <machineKey decryption="3DES" decryptionKey="AutoGenerate,IsolateApps" validation="3DES" validationKey="AutoGenerate,IsolateApps"/>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="login.aspx" defaultUrl="~/admin/ManageOrder.aspx">
        <credentials passwordFormat="Clear">
          <!--Mehmet QQ openid-->
          <user name="0065B13A1E75740D1B048850D9A3E31D" password="0065B13A1E75740D1B048850D9A3E31D"/>
          <!--袁欣辰 QQ openid-->
          <user name="9FCE78619147192BF466882125E994D0" password="9FCE78619147192BF466882125E994D0"/>
          <!--鲍书晨 QQ openid-->
          <user name="7C54FD4116651C002607D59ECD6B73A3" password="7C54FD4116651C002607D59ECD6B73A3"/>
          <!--高活未 QQ openid-->
          <user name="2EC118331818D8FCCAC87905115049C5" password="2EC118331818D8FCCAC87905115049C5"/>
          <!--米其林 QQ openid-->
          <user name="82FDE58B03C6B84E557D14FBFDD731A9" password="82FDE58B03C6B84E557D14FBFDD731A9"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <membership defaultProvider="FruitUMembershipProvider">
      <providers>
        <add name="FruitUMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="FruitU" applicationName="FruitU" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" passwordCompatMode="Framework40"/>
      </providers>
    </membership>
    <roleManager defaultProvider="FruitURoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="FruitURoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="FruitU" applicationName="FruitU"/>
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly"/>
    <trace enabled="true" localOnly="false" pageOutput="false" requestLimit="10" mostRecent="false" writeToDiagnosticsTrace="false" traceMode="SortByTime"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ChartImageHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*."
        verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>